In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('database_8_9_time_slot.csv')

In [4]:
data

    id  stop_id  time_slot     eta_bus
0    1      1.0          8  118.884193
1    2      1.0          9  121.849085
2    3      2.1          8  112.901744
3    4      2.1          9  115.422553
4    5      2.2          8  112.513193
5    6      2.2          9  115.202911
6    7      3.0          8  108.381856
7    8      3.0          9  111.255475
8    9      4.0          8  103.050868
9   10      4.0          9  105.788089
10  11      5.0          8   96.999892
11  12      5.0          9   99.874242
12  13      6.0          8   91.602959
13  14      6.0          9   94.491237
14  15      9.0          8   75.930171
15  16      9.0          9   78.090308
16  17     10.0          8   69.805437
17  18     10.0          9   73.139224
18  19     11.0          8   64.916360
19  20     11.0          9   67.871177
20  21     13.0          8   53.912429
21  22     13.0          9   56.714788
22  23     19.0          8   21.961791
23  24     19.0          9   25.138121
24  25     20.0          8   16.330952
25  26     20.0          9   19.391039
26  27     23.0          8    0.379348
27  28     23.0          9    3.146800
28  29     24.0          8   -4.939726
29  30     24.0          9   -2.152971

In [12]:
time_slot = 9
start = 20
end = 13

row = data[data['time_slot'] == time_slot]

eta_no_bus = 0

route = [4, 5, 6, 13, 24, 23, 20, 19, 9, 10, 11, 2.1, 1, 2.2, 3]

eta_dict = {}

for index, r in row.iterrows():
    eta_no_bus += r['eta_bus']
    #print(r)
    eta_dict[r['stop_id']] = r
    
print('ETA one round', eta_no_bus/60)

ETA one round 18.08703462451667

In [13]:
eta_dict

{1.0: id             2.000000
 stop_id        1.000000
 time_slot      9.000000
 eta_bus      121.849085
 Name: 1, dtype: float64,
 2.1: id             4.000000
 stop_id        2.100000
 time_slot      9.000000
 eta_bus      115.422553
 Name: 3, dtype: float64,
 2.2: id             6.000000
 stop_id        2.200000
 time_slot      9.000000
 eta_bus      115.202911
 Name: 5, dtype: float64,
 3.0: id             8.000000
 stop_id        3.000000
 time_slot      9.000000
 eta_bus      111.255475
 Name: 7, dtype: float64,
 4.0: id            10.000000
 stop_id        4.000000
 time_slot      9.000000
 eta_bus      105.788089
 Name: 9, dtype: float64,
 5.0: id           12.000000
 stop_id       5.000000
 time_slot     9.000000
 eta_bus      99.874242
 Name: 11, dtype: float64,
 6.0: id           14.000000
 stop_id       6.000000
 time_slot     9.000000
 eta_bus      94.491237
 Name: 13, dtype: float64,
 9.0: id           16.000000
 stop_id       9.000000
 time_slot     9.000000
 eta_bus      78.090308
 Name: 15, dtype: float64,
 10.0: id           18.000000
 stop_id      10.000000
 time_slot     9.000000
 eta_bus      73.139224
 Name: 17, dtype: float64,
 11.0: id           20.000000
 stop_id      11.000000
 time_slot     9.000000
 eta_bus      67.871177
 Name: 19, dtype: float64,
 13.0: id           22.000000
 stop_id      13.000000
 time_slot     9.000000
 eta_bus      56.714788
 Name: 21, dtype: float64,
 19.0: id           24.000000
 stop_id      19.000000
 time_slot     9.000000
 eta_bus      25.138121
 Name: 23, dtype: float64,
 20.0: id           26.000000
 stop_id      20.000000
 time_slot     9.000000
 eta_bus      19.391039
 Name: 25, dtype: float64,
 23.0: id           28.0000
 stop_id      23.0000
 time_slot     9.0000
 eta_bus       3.1468
 Name: 27, dtype: float64,
 24.0: id           30.000000
 stop_id      24.000000
 time_slot     9.000000
 eta_bus      -2.152971
 Name: 29, dtype: float64}

In [14]:
ind = route.index(start)

st = route[ind]
count = 0

eta_s_e = 0

while st != end:
    ind += 1
    count += 1
    if(ind == len(route)):
        ind = 0
    st = route[ind]
    
    eta_s_e += eta_dict[float(st)]['eta_bus']
    
    
    
print(st, count)

print(eta_no_bus/60)

print(eta_s_e/60)

13 12
18.08703462451667
17.74728683616667