## Create data important for set

In [2]:
import pandas as pd

In [4]:
!ls

2070942.2070950.pdf  bus.xlsx			try_models.ipynb
2070942.2071010.pdf  cleaning_urban_data.ipynb	urban-computing-bus

In [5]:
df = pd.read_csv('./urban-computing-bus/cleaned.csv')

In [6]:
df['current_stop'] = df['stop']

In [7]:
paradas = {
    4: {
    'lat':18.403636,
    'lon': -66.045492
},
5: {
    'lat': 18.403751,
     'lon': -66.046593
},
6:
 {

   
        'lat': 18.403879,
        'lon': -66.048199
       
    },
13:
    {
      
        'lat': 18.403955,
        'lon': -66.049898
        
    },
24: {
        'lat': 18.404698,
        'lon': -66.050468
      },  
23: {
        'lat': 18.406440,
        'lon': -66.050140
      },  
    

20: {
        'lat': 18.407062,
        'lon': -66.049323
       
    },
    19:{
     
        'lat': 18.406503,
        'lon': -66.048520
       
    },
9: {
        'lat': 18.406018,
        'lon': -66.047806
      },  
    
   10: {
        'lat': 18.406766,
        'lon': -66.046771
      },  
    
11: {
        'lat': 18.406078,
        'lon': -66.044770
      },  

   2: {
        'lat': 18.406243,
        'lon': -66.043161
      },  
    
   1: {
        'lat' : 18.407170,
        'lon' : -66.041989
      }, 


    
    3: {
        'lat': 18.404856,
        'lon': -66.044836
      },  
    }
parada_num = list(paradas.keys())

In [8]:
parada_num.insert(-1,2)

In [9]:
parada_num

[4, 5, 6, 13, 24, 23, 20, 19, 9, 10, 11, 2, 1, 2, 3]

## Add column for next stop

In [11]:
def add_next_stop(row):
    if row['current_stop'] in parada_num and not row['current_stop'] == 2:
        row['next_stop'] = parada_num[parada_num.index(row['current_stop']) + 1]
    elif row['current_stop'] == 2:
        return row
# Assuming `df` is the DataFrame
# Assuming `current_row` is the current row you have


    else:
        row['next_stop'] = None
    # Find the row where current_stop is 2
    # row_index = df[df['current_stop'] == 2].index[0]

    # # Check the next entry ordered by time entered
    # next_row = df.loc[row_index + 1]

    # # Check if the next stop is 1
    # if next_row['current_stop'] == 1:
    #     df.loc[row_index, 'next_stop'] = 1
    # else:
    #     df.loc[row_index, 'next_stop'] = 3
    
def check_the_stop(row):
    if row['current_stop'] in parada_num:
        print(row['current_stop'])
    else:
        row['current_stop'] = None
        
    return row

df = df.apply(check_the_stop, axis=1)

23
24
13
6
5
5
5
4
3
10
11
2
11
9
20
23
24
13
6
5
5
5
4
3
10
11
2
11
9
20
20
24
13
6
5
5
4
4
3
10
19
1
10
9
20
23
24
13
5
5
5
4
4
3
10
11
1
2
9
20
20
24
13
6
5
5
4
4
4
3
10
11
2
11
9
20
23
23
24
13
20
20
24
23
24
13
6
5
5
4
4
3
10
11
11
2
9
20
23
24
13
6
5
5
4
4
3
10
11
11
2
9
20

In [12]:
#print the count of the stops
df['current_stop'].value_counts()

current_stop
5     17
4     13
11    11
20    11
24     9
13     8
10     8
23     7
3      7
9      7
6      6
2      6
1      2
19     1
Name: count, dtype: int64

In [13]:
df[df['current_stop']==5]

,lat,lon,time,stop,elapsed,time_Seconds,round_trip,current_stop
4,18.406180,-66.050259,8:45:22,5,30.0,31522,NaN,5
5,18.407194,-66.049543,8:45:59,5,37.0,31559,NaN,5
6,18.406721,-66.049000,8:46:16,5,17.0,31576,NaN,5
19,18.406548,-66.049788,9:3:40,5,31.0,32620,1044.0,5
20,18.407121,-66.049493,9:4:1,5,21.0,32641,NaN,5
21,18.406602,-66.048991,9:4:15,5,14.0,32655,NaN,5
34,18.406499,-66.050015,9:20:40,5,25.0,33640,985.0,5
35,18.407097,-66.049410,9:21:1,5,21.0,33661,NaN,5
48,18.406333,-66.049427,9:37:13,5,62.0,34633,972.0,5
49,18.406339,-66.049861,9:37:40,5,27.0,34660,NaN,5
50,18.406549,-66.049630,9:38:14,5,34.0,34694,NaN,5
64,18.406132,-66.050150,9:53:12,5,22.0,35592,898.0,5
65,18.407130,-66.049489,9:53:52,5,40.0,35632,NaN,5
87,18.406328,-66.049923,9:10:33,5,30.0,33033,NaN,5
88,18.407184,-66.049494,9:10:48,5,15.0,33048,NaN,5
102,18.406320,-66.050147,9:23:45,5,27.0,33825,777.0,5
103,18.407204,-66.049470,9:24:9,5,24.0,33849,NaN,5